buoi3/thuvien.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Định nghĩa phần tử sach với @id là xs:ID (duy nhất toàn tài liệu) -->
  <xs:element name="sach">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="xs:string"/>
        <xs:element name="year" type="xs:positiveInteger"/>
        <xs:element name="genre" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Định nghĩa phần tử gốc thuvien -->
  <xs:element name="thuvien">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sach" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
